<div class="d-flex gap-3">
  <div class="d-flex flex-column flex-grow-1" style="min-width: 0;">
    <p class="fw-bolder m-0 text-truncate"><%= group_invitation.inviter_full_name %></p>
    <p data-bs-toggle="tooltip"
        data-bs-title="<%= group_invitation.group_description %>"
        data-bs-placement="left"
        class="fw-light m-0 text-truncate"><%= group_invitation.group_name %></p>
  </div>

  <div class="d-flex gap-3 align-self-center">
    <%= button_to group_invitation_path(group_invitation), 
                  class: "btn btn-success btn-sm",
                  method: :patch,
                  params: { status: 'accepted' },
                  data: {
                    bs_toggle: 'tooltip', 
                    bs_title: 'Aceitar Convite',
                  } do %>
      <i class="fa-solid fa-check"></i>
    <% end %>

    <%= button_to group_invitation_path(group_invitation), 
                  class: "btn btn-danger btn-sm",
                  method: :patch,
                  params: { status: 'refused' }, 
                  data: {
                    bs_toggle: 'tooltip', 
                    bs_title: 'Rejeitar Convite'
                  } do %>
      <i class="fa-solid fa-x"></i>
    <% end %>
  </div>
</div>