<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
  <div class="container-fluid d-flex justify-content-between">
    <%= link_to root_path, 
                class: "navbar-brand m-0" do %>
      Navbar
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" 
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarContent">
      <!-- Seção de menus (central) -->
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= nav_link_to(name: "Home", 
                          path: root_path, 
                          html_options: { class: "nav-link" }) %>
        </li>

        <% if authenticated? %>
        
        <% else %>          
          <li class="nav-item">
            <%= nav_link_to(name: "Planos", 
                            path: plans_path, 
                            html_options: { class: "nav-link" }) %>
          </li>

          <li class="nav-item">
            <%= nav_link_to(name: "Tutoriais", 
                            path: tutorials_path, 
                            html_options: { class: "nav-link" }) %>
          </li>

          <li class="nav-item">
            <%= nav_link_to(name: "Parceiros", 
                            path: partners_path, 
                            html_options: { class: "nav-link" }) %>
          </li>
        <% end %>
 
      </ul>

      <div class="d-flex gap-3">
        <% if authenticated? %>
          <%= button_to session_path, 
                        class: 'btn btn-outline-danger',
                        method: :delete do %>
            Sair
          <% end %>
        <% else %>
          <%= link_to new_session_path,
                      class: 'btn btn-outline-primary' do %>
            Entrar
          <% end %>

          <%= link_to new_user_path,
                      class: 'btn btn-outline-secondary' do %>
            Registrar
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
